<h1><%= @user.username %></h1>

<p>
  <% if @user.ratings.empty? %>
    has not rated any beers
  <% else %>
    has made <%=pluralize(@user.ratings.count, 'rating' )%>, with an average score of <%=round @user.average_rating%>

    <h2> Ratings </h2>
    <ul>
      <% @user.ratings.each do |rating| %>
        <li>
          <%= rating %>
          <% if @user == current_user %>
              <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </li>
      <% end %>
    </ul>

<% end %>
</p>

<% unless @user.beer_clubs.empty? %>
  <p> member of
    <% @user.beer_clubs.each do |club| %>
      <%= link_to club.name, beer_club_path(club) %>
    <% end %>
  </p>
<% end %>

<% if current_user and current_user.admin %>
  <% if @user.active %>
    <%= link_to "Freeze account", toggle_activity_user_path(@user.id), method: :post, class: "btn btn-danger" %>
  <% else %>
    <%= link_to "Activate account", toggle_activity_user_path(@user.id), method: :post, class: "btn btn-primary" %>
  <% end %>
<% end %>

<% if @user == current_user %>
  | <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
